<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
  </head>
  <body>
    <h1 class="text-center">Blearning Club</h1>
    <div class="container">
        {% for x in obj %}
        <div class="row">
            <div class="com-lg-5 col-md-5 col-12">
                {{x.EmpNo}}
            </div>
            <div class="com-lg-5 col-md-5 col-12">
                {{x.Ename}}
            </div>
            <div class="com-lg-5 col-md-5 col-12">
                {{x.Dept}}
            </div>
            <div class="com-lg-5 col-md-5 col-12">
                {{x.Salary}}
            </div>
        </div>
        {% endfor %}
    </div>
  </body>
</html>